<div id="app" class="layout p--1">
  <div class="grid gap--xsmall grid--cols-1 h--full"> 
    
    <div class="col--span-1 h--full w--full bg--black text--white p--4 rounded relative flex flex--col flex--left flex--bottom">
      <div id="{{ chart_id }}" class="image-dither w--full chartPosition"></div>
      <span class="h--full w--full text--right value--xsmall relative">
          {% if currency == 'EUR' %}
            <i class="fa-solid fa-euro-sign"></i>
          {% else %}
            <i class="fa-solid fa-money-bill"></i>
          {% endif %}
      </span>
      <div class="value--xxxsmall bold text-stroke text-stroke--large text-stroke--black relative">
        {{ title_current_price }}
      </div>
      <div class="value value--tnums bold relative text-stroke text-stroke--large text-stroke--black relative">
        € {{ priceInfo.current.total | round: 2 }}
      </div>
    </div>

    <div class="col--span-2">
      {% if solar_panels == "true" %}
        <div class="grid gap--xsmall grid--cols-3">
      {% else %}
        <div class="grid gap--xsmall grid--cols-2">
      {% endif %}
    
        {% for stat in visible_stats %}
          {% assign title_key = "title_" | append: stat %}
          {% assign block_class = "bg--gray-75" %}
          {% case title_key %}
            {% when "title_month_consumption" %}
              {% assign block_class = "bg--gray-60" %}
            {% when "title_month_cost" %}
              {% assign block_class = "bg--gray-60" %}
          {% endcase %}
          
          <div class="{{ block_class }} col--span-1 p--3 rounded relative flex flex--col flex--left flex--bottom">
            {% if solar_panels == "false" %}
              <span class="h--full w--full text--right value--xsmall text-stroke text-stroke--xlarge">
                {% case title_key %}
                  {% when "title_today_consumption" %}
                    <i class="fa-solid fa-plug-circle-bolt"></i>
                  {% when "title_today_cost" %}
                    <i class="fa-solid fa-money-bills"></i> 
                  {% when "title_month_consumption" %}
                    <i class="fa-solid fa-bolt"></i> 
                  {% when "title_month_cost" %}
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                {% endcase %}
              </span>
            {% endif %}
            <div class="value--xxxsmall bold text-stroke text-stroke--large">
              {% case title_key %}
                {% when "title_today_consumption" %}
                  {{ title_today_consumption }}
                {% when "title_today_cost" %}
                  {{ title_today_cost }}
                {% when "title_today_production" %}
                  {{ title_today_production }}
                {% when "title_today_reward" %}
                  {{ title_today_reward }}
                {% when "title_month_consumption" %}
                  {{ title_month_consumption }}
                {% when "title_month_cost" %}
                  {{ title_month_cost }}
              {% endcase %}
            </div>
          
            <div class="value--xxsmall text-stroke text-stroke--large value--tnums bold">
              {% case title_key %}
                {% when "title_today_consumption" %}
                  {{ today_consumption | round: 2 }}
                  <small class="value value--xxsmall">kWh</small>
                {% when "title_today_cost" %}
                  {% if currency == 'EUR' %}
                    €
                  {% endif %}
                  {{ today_cost | round: 2 }}
                  {% if currency != 'EUR' %}
                    <small class="value value--xxsmall">kr</small>
                  {% endif %}
                {% when "title_today_production" %}
                  {{ today_production | round: 2 }}
                  <small class="value value--xxsmall">kWh</small>
                {% when "title_today_reward" %}
                  {% if currency == 'EUR' %}
                    €
                  {% endif %}
                  {{ today_reward | round: 2 }}
                  {% if currency != 'EUR' %}
                    <small class="value value--xxsmall">kr</small>
                  {% endif %}
                {% when "title_month_consumption" %}
                  {{ month_consumption | round: 2 }} 
                  <small class="value value--xxsmall">kWh</small>
                {% when "title_month_cost" %}
                  {% if currency == 'EUR' %}
                    €
                  {% endif %}
                  {{ month_cost | round: 2 }}
                  {% if currency != 'EUR' %}
                    <small class="value value--xxsmall">kr</small>
                  {% endif %}
              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

</div>

<div class="title_bar">
  {{ tibber_icon }}
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">{{ location_name }}</span>
</div>


<script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js"></script>
<script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts-more.js"></script>
<script src="https://usetrmnl.com/js/highcharts/12.3.0/pattern-fill.js"></script>
<script>
  const priceData = JSON.parse(`{{ priceInfo | json }}`);
  const timezone = "{{ firstHome.timeZone }}" || "Europe/Amsterdam";

  const mapped = {
    today: priceData.today.map(v => [new Date(v.startsAt).getTime(), v.total * 100]),
    tomorrow: priceData.tomorrow.map(v => [new Date(v.startsAt).getTime(), v.total * 100])
  };

  const allPoints = [...mapped.today, ...mapped.tomorrow];

  function getCurrentPoint() {
    const now = Date.now();

    let closest = allPoints[0];
    let smallestDiff = Math.abs(closest[0] - now);

    for (const p of allPoints) {
      const diff = Math.abs(p[0] - now);
      if (diff < smallestDiff) {
        smallestDiff = diff;
        closest = p;
      }
    }

    return { x: (now - 3), y: (closest[1] - 0.03) };
  }

  function renderChart() { 
    Highcharts.chart('{{ chart_id }}', {
      chart: { 
        type: 'spline',
        backgroundColor: '#000000',
        animation: false,
        spacing: [4, 4, 4, 4],
        ['mar'+'gin']: [0, 0, 0, 0],
        height: 120,
        width: 375
      },

      title: { text: null },

      time: { timezone },

      plotOptions: {
        series: {
          animation: false,
          enableMouseTracking: false,
          states: { hover: { enabled: false } },
          marker: { enabled: false },
          lineWidth: 3,
          ['co'+'lor']: '#A4A4A4'
        }
      },

      series: [
        {
          type: "spline",
          data: allPoints,
          name: "Price",
          zIndex: 2
        },
        {
          type: "scatter",
          data: [getCurrentPoint()],
          marker: {
            enabled: true,
            radius: 7,
            symbol: "circle",
            fillColor: "#E1E1E1",
            lineColor: "#000000",
            lineWidth: 4 
          },
          enableMouseTracking: false,
          zIndex: 10
        }
      ],

      tooltip: { enabled: false },
      legend: { enabled: false },

      yAxis: { 
        labels: { enabled: false },
        title: { text: null },
        gridLineWidth: 0,
        startOnTick: false,
        endOnTick: false
      },

      xAxis: { 
        type: 'datetime',
        labels: { enabled: false },
        lineWidth: 0,
        tickWidth: 0,
        gridLineWidth: 0,
        minPadding: 0,
        maxPadding: 0,
        startOnTick: false,
        endOnTick: false,
        title: { text: null }
      },

      credits: { enabled: false }
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    renderChart();
  });
</script>